// Define variables for your color scheme

// For example:
$rose: #D81159;
$mauve: #8F2D56;
$vert: #218380;
$jaune: #FBB13C;
$bleuciel: #73D2DE;
$gris: #8b8b8b;

$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
