<%= render 'shared/searchbar' %>
<div class="container">
  <div class="section">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <div class="nav-link-action active" id="pills-achat-tab" data-bs-toggle="pill" data-bs-target="#pills-achat" type="button" role="tab" aria-controls="pills-achat" aria-selected="true">Achat</div>
      </li>

      <li class="nav-item" role="presentation">
        <div class="nav-link-action" id="pills-vente-tab" data-bs-toggle="pill" data-bs-target="#pills-vente" type="button" role="tab" aria-controls="pills-vente" aria-selected="false">Vente</div>
      </li>
    </ul>

    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-achat" role="tabpanel" aria-labelledby="pills-achat-tab" tabindex="0">
        <ul class="nav nav-pills nav-onglets mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <div class="nav-link-onglet active" id="pills-domain-tab" data-bs-toggle="pill" data-bs-target="#pills-domain" type="button" role="tab" aria-controls="pills-domain" aria-selected="true">Domaines</div>
          </li>

          <li class="nav-item" role="presentation">
            <div class="nav-link-onglet" id="pills-user-tab" data-bs-toggle="pill" data-bs-target="#pills-user" type="button" role="tab" aria-controls="pills-user" aria-selected="false">Utilisateurs</div>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="pills-domain" role="tabpanel" aria-labelledby="pills-domain-tab" tabindex="0">Domaines blablabla</div>
          <div class="tab-pane fade" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab" tabindex="0">Utilisateurs blablabla</div>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-vente" role="tabpanel" aria-labelledby="pills-vente-tab" tabindex="0">Vente blablabla</div>
    </div>
  </div>
</div>
