.home-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1423483641154-5411ec9c0ddf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-position: center;
  background-size: cover;
  height: 370px;
}

.content-banner {
  padding: 30px;
  h1 {
    font-size: 26px!important;
    color: white;
    font-weight: 600;
  }
}
