





.btn-search {
  border-radius: 50px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-jaune {
  border-radius: 50px;
  background-color: $jaune;
  padding: 10px 35px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  max-height: 45px;
  border: #ff000000;
}

.btn-mauve {
  border-radius: 50px;
  background-color: $mauve;
  padding: 10px 35px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  max-height: 45px;
  border: #ff000000;
}

.btn-bleuciel {
  border-radius: 50px;
  background-color: $bleuciel;
  padding: 10px 35px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.btn-in-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.btn-circle {
  display: flex;
  height: 50px;
  padding: 0;
  width: 50px;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.trade-button {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.button-trade {
  display: flex;
  justify-content: center;
}



.opened-buy-tab {
  height: 0;
  opacity: 0;
  transition: 0.4s ease;
    &.active {
      height: 300px;
      opacity: 1;
    }
}


.opened-sell-tab {
  height: 0;
  opacity: 0;
  transition: 0.4s ease;
    &.active {
      height: 150px;
      opacity: 1;
    }
}

.btn {
  color: white!important;
}
