.nav-link-action {
  margin: 0px 10px;

  &[aria-selected="true"] {
    font-weight: 600;
    color: black;
    border-bottom: 3px solid $jaune;
  }
}
.nav-link-onglet {
  margin: 0px 10px;
  font-size: 12px;

  &[aria-selected="true"] {
    font-weight: 600;
    background-color: $jaune;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 3px 15px;
  }
}

.nav-onglets {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
